// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}
a {
  &:hover {
    text-decoration: none;
    color: $c-orange-dark;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-nav {
  position: sticky;
  bottom: 0px;
  width: 100%;
  margin-top: 1rem;
}

.round {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  &:first-child {
    border: none;
  }
}

.fs-sm {
  font-size: 8px;
  margin: 0;
}

.fs-md {
  font-size: 12px;
  margin: 0;
}

.dashboard-grid {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  a {
    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      border: 1px solid $orange;
      background-color: $orange;
      color: white !important;
      text-decoration: none;
      transition: all 0.1s ease-in-out;
    }
  }
  gap: .5rem;
}
