<div class="jumbotron d-flex align-items-center bg-dark text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <h2>My clients</h2>
</div>


  <% unless @bookings.empty? %>
    <p class="text-muted m-0">Clients</p>
    <% @bookings.each do |b| %>
      <%= link_to "#{b.client.first_name.capitalize} #{b.client.last_name.capitalize}", booking_shared_training_plans_path(b) %>
    <% end %>
  <% else %>
    <h3>You don't have any clients yet.</h3>
  <% end %>
