<h1>My Clients</h1>
<div class="main">
  <ul class="cards">
    <% @clients.each do |client| %>
        <div class="card">
          <img src="" />
          <div class="card">
           <%= link_to "Your client: #{client.first_name.capitalize} #{client.last_name.capitalize}", booking_shared_training_plans_path(bookings_path) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
