<div class="jumbotron d-flex align-items-center bg-dark text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <h2>My clients</h2>
</div>


  <% unless @clients.empty? %>
    <p class="text-muted m-0">Clients</p>
    <% @clients.each do |client| %>
      <%= link_to "Your client: #{client.first_name.capitalize} #{client.last_name.capitalize}", booking_shared_training_plans_path(client) %>
    <% end %>
  <% else %>
    <h3>You don't have any clients yet.</h3>
  <% end %>
