<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>Pick your expert</h2>
  </div>
</div>
<div class="container h-100">
  <div id="available-trainers">
    <%= render 'booking_form', available_trainers: @available_trainers, user: current_user %>
  </div>
</div>
