<div class="jumbotron d-flex align-items-center bg-orange text-light mb-0">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2 class="font-weight-bold">All exercises</h2>
    <ul>
      <% @shared_exercises.each do |exercise| %>
        <li>
          <h3><%= exercise.title %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>
