<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>My trainers</h2>
  </div>
</div>
<div class="container h-100">
  <% if user_signed_in? %>
      <% @bookings.each do |b| %>
        <div class="card-general bg-center"
        style="background-image: url(<%= asset_path('training_stats.png') %>)">
          <h4 class="card-title">
            <%= link_to b.user.first_name.capitalize,  booking_shared_training_plans_path(b) %>
          </h4>
        </div>
      <% end %>
    <% else %>
      <h3>You haven't booked a trainer yet.</h3>
      <%= link_to "Choose your trainer", bookings_path %>
    <% end %>
</div>
