<h1>My Trainers</h1>

<% if user_signed_in? %>
  <h3> <%= current_user.first_name.capitalize %>: Trainer's Overview </h3>
  <h3 class="mt-4"></h3>
  <p class="text-muted m-0">Trainers</p>
  <% @trainers.each do |trainer| %>
    <%= link_to "Trainer #{trainer.first_name.capitalize}'s training plans",  booking_shared_training_plans_path(trainer) %>
  <% end %>
  <% else %>
  <h3>You don't have a trainer assigned.</h3>
  <%= link_to "Choose your trainer", bookings_path %>
<% end %>
