<div class="jumbotron d-flex align-items-center bg-gradient text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
   <div class="container text-center">
    <h2>My trainings</h2>
  </div>
</div>

<div class='container h-100'>
  <% unless @training_plans.empty? %>
      <% @trainings.uniq.each do |training| %>
      <div class='position-relative'>

      </div>


        <div class="card-general h-auto">
          <div class="card-body p-0">
            <% if training.photo.key %>
              <%= cl_image_tag training.photo.key, crop: :fill, class: "card-img-top" %>
            <% end %>
            <h3 class="card-title pl-3 lead"><%= link_to training.title, TrainingPlan.find_by(training: training) %></h3>
          </div>
        </div>
      <% end %>
  <% else %>
    <p class="mb-2 text-center">You don't have any trainings yet.</p>
    <%= link_to new_training_plan_path, class: "text-center text-dark" do %>
        <h6 class="button-orange">Create training</h6>
      <% end %>
  <% end %>
</div>
