<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
   <div class="container text-center">
    <h2>My trainings</h2>
  </div>
</div>

<div class='container h-100'>
  <% unless @training_plans.empty? %>
      <% @training_plans.each do |training_plan| %>
        <div class="card-general">
          <div class="card-body">
          <h4 class="card-title"><%= link_to training_plan.training.title, training_plan %></h4>
          <%= link_to 'Edit', edit_training_plan_path(training_plan) %>
          <%= link_to 'Delete', training_plan, method: :delete, remote: true %>
          </div>
        </div>
      <% end %>
  <% else %>
    <p>You don't have any training plans created yet.</p>
  <% end %>
</div>
