<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to booking_shared_training_plan_shared_exercise_path(@booking, @shared_training_plan, @shared_exercise) do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>History logs</h2>
  </div>
</div>

<% @history_log.each do |history_log| %>
  <p><%= history_log.notes %></p>
  <p><%= history_log.photo.key %></p>
  <%#= link_to 'Show', training_plan %>
  <%#= link_to 'Edit', edit_training_plan_path(training_plan) %>
  <%#= link_to 'Delete', training_plan, method: :delete, remote: true %>
<% end %>
</div>
