<div class="jumbotron d-flex align-items-center bg-gradient text-light">
  <h2>
    <%= link_to booking_shared_training_plan_shared_exercise_path(@booking, @shared_training_plan, @shared_exercise) do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>Your progress</h2>
  </div>
</div>
</div>

<div class="container">
  <% if @history_log.empty? %>
    <h2 class="text-muted text-center">Nothing to show yet...</h2>
    <% else %>
    <div class="swiper mySwiper mb-5">
      <div class="swiper-wrapper">
      <% @history_log.each do |history_log| %>
        <div class="swiper-slide">
          <%= cl_image_tag history_log.photo.key, height: 300, width: 400, crop: :fill, class: "swiper-slide rounded" %>
          <p class="text-center mt-2"><%= history_log.notes %></p>
          <p class="text-center mt-2"><%= history_log.created_at.strftime("%b %e, %l:%M%p") %></p>
        </div>
        <% end %>
      </div>
    <div class="swiper-button-next swiper-nav text-lighter-gray"></div>
    <div class="swiper-button-prev swiper-nav text-lighter-gray"></div>
    </div>
    <% end %>
</div>
