<% if current_user == @booking.user %>
  <div class="jumbotron d-flex align-items-center bg-gradient text-light mb-0">
    <h2>
      <%= link_to booking_shared_training_plan_path(@booking, @shared_training_plan) do %>
        <i class="fas fa-angle-left pr-3 text-light"></i>
      <% end %>
        <div class="container">
    </h2>
    <div class="container text-center">
      <h2><%= @shared_exercise.title %></h2>
    </div>
  </div>
  <%= render 'form' %>
  <% end %>
</div>
