.image-holder{
  position: relative;
}

#home-image{
  height: 100%;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

// .cover{
//   height: 100%;
//   width: auto;
//   object-fit: cover;
//   position: relative;
// }

.link {
  width: 80%;
  position: absolute;
  bottom: 0rem; /*your button position*/
  right: 0rem; /*your button position*/
}



.half{
  width: 40%;
}
