.bg-image img {
  position: absolute;
  min-height: 100vh;
  object-fit: cover;
  width: 100%;
}

.buttons {
  width: 100%;
  position: absolute;
  bottom: 2rem; /*your button position*/
  margin-right: 1rem;
}
