p {
  text-decoration: none;
}

h4 {
  margin: none;
  text-decoration: none;
}

h5 {
  text-decoration: none;
}

.page-head-title{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

abbr {
  text-decoration: none;
}

.keyword{
  width: 72px;
  height: 40px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 1rem;
  border-width: 0;
  display: inline-block;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.form-link {
  text-decoration: none;
  color: var(--grey);
  font-size: small;

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 1rem;
}

ol li {
  margin: 0 0 0.5rem 0.5rem;
  counter-increment: my-awesome-counter;
  position: relative;
}

ol li::before {
  content: counter(my-awesome-counter);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  --size: 2rem;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  transform: rotate(-10deg);
  background: var(--orange);
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 var(--light-grey);
  }
}
