.bg-orange {
  background-color: var(--orange);
}

.bg-center {
  background-size: cover;
  background-position-y: -35px;
  background-position-x: 20px;
}

.round-one {
  border-radius: 1rem;
}

html, body {
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.mild-opacity {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.filter {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(30, 30, 30, 1));
  position: absolute;
  top: 0;
}
.opct-95 {
  opacity: 0.95;
}
.info {
  color: white;
  background-color: #3C8DAD;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: #3E8E7E;
    transition: all 0.1s ease-out;
  }
}
.trainer-name {
  text-shadow: 0px 0px 1rem black;
  font-size: 1.5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  align-items: center;
  .card-square {
    margin: 0;
  }
}

.bg-gradient {
  background: linear-gradient($c-orange-dark, $c-orange-light);
}

.text-orange {
  color: $c-orange-dark;
}
