.bg-orange {
  background-color: var(--orange);
}

.bg-center {
  background-size: cover;
  // background-repeat: no-repeat;
  background-position-y: -35px;
  background-position-x: 20px;
}

.round-one {
  border-radius: 1rem;
}
