<h2>My exercises</h2>

<ul>
  <% @exercises.each do |exercise| %>
  <li>
    <p><%= "#{exercise.id} - #{exercise.title}" %></p>
    <%= link_to 'Show', exercise %>
    <%= link_to 'Edit', edit_exercise_path(exercise) %>
    <%= link_to 'Delete', exercise, method: :delete, remote: true %>
  <% end %>
  </li>
</ul>
