<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>Create exercise</h2>
  </div>
</div>
<div class="container">
<%= render 'form' %>
</div>
